{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-img">
                <div class="intro-text"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="login-form">
                        <form name="authenticate" action="{{ path('security_login') }}" method="post">
                            <h2 class="text-center">Вход</h2>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="eл. поща" name="_username" />
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="парола" name="_password" />
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" > Вход </button>
                            </div>
                            <div class="clearfix text-center">
                                <a href="{{ path('user_register') }}">Регистрация </a>|
                                <a href="{{ path('cir_index') }}"> Начало</a>
                            </div>
                        </form>
                        <p class="text-center"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}